
@*<a id="linkedinBTN" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=812hza79ipgmfb&redirect_uri=http%3A%2F%2Fmycvonline.co.nz%2FAccount%2FLinkedINAuth&state=987654321">
        <img style="margin-bottom:10px;"  src="~/Images/linkedin.png" />
    </a>*@
<a id="linkedinBTN" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=812hza79ipgmfb&redirect_uri=http%3A%2F%2Flocalhost:50610%2FAccount%2FLinkedINAuth&state=987654321">
    <img src="~/Images/linkedin.png" />
</a>
